body {
    background-color: rgb(96, 160, 255);
    font-family: jura;
    font-size: 2rem;
  }
  h1 {
    font-family: iceland;
    font-weight: bold;
    font-size: 3rem;
  }
  .navButton {
    height: 60px;
  }
  .historyImages{
    max-width: 100%;
  }